<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome do usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuário obrigatório"
    ></app-mensagem>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>

<p>Não é um usuário? <a [routerLink]="['novousuario']">Se cadastre</a></p>

<h2 class="text-center mb-4">Login with Facebook in Angular</h2>

<div *ngIf="!isLoggedin">
  <button type="button" (click)="loginWithFacebook()" class="btn btn-primary btn-block">Signin with Facebook</button>
</div>

<div *ngIf="isLoggedin === true">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
  </div>

  <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
</div>

<h2 class="text-center mb-4">Login with Google in Angular</h2>

<div *ngIf="!isLoggedin">
  <button type="button" (click)="signInWithGoogle()" class="btn btn-primary btn-block">Signin with Google</button>
</div>

<div *ngIf="isLoggedin === true">
  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
  </div>

  <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button>
</div>
